*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #4B627B;
}

a{
    text-decoration: none;
}

input, button, textarea{
    outline: none;
    border: 0;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


.clear::after{
    display: table;
    content: ' ';
    clear: both;
}


.container{
    width: 930px;
    margin: 20px auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.nav-header{
    float: left;
    margin-right: 48px;
}

.nav-header button{
    color:  #ffffff;
    background: #56ccc8;
    font-size: 18px;
    padding: 20px;
}

.container-nav{
    background: #fff;
}

.main-menu li{
    float: left;
}

.nav-social li a{
    padding: 20px 10px !important;
}

.nav-social li:first-child a{
    padding: 20px 20px !important;
}

.main-menu li a{
    display: block;
    font-size: 16px;
    font-family: "Timew New Roman", Tahoma, Arial, Helvetica, sans-serif;
    color: #475055;
    padding: 20px 17px;
}

.main-menu li:first-child a{
    padding-right: 17px;
    padding-left: 0;
}

.left-menu{
    background: #ffffff;
    margin-right: 10px;
}

.left-menu-main{
    position: relative;
    width: 460px;

}

.left-menu-main li{
    border-bottom: 1px solid #F3F5F6;
}

.left-menu-main li:last-child{
    border: 0;
}

.left-menu-main > li > a{
    display: block;
    font-size: 18px;
    color: #8A9093;
    padding: 20px 20px;
}

.left-menu-main > li > a > i{
    display: inline-block;
    border: 1px solid #8A9093;
    padding: 10px;
    margin-right: 20px;
    vertical-align: -5px;
}

.left-menu-main ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}

.left-menu-main ul > li{
    padding: 20px;
    background: #152840;
    border-bottom: 1px solid #243951;
}

.left-menu-main ul > li:last-child{
    border: 0;
}

.left-menu-main ul > li > h4{
    color: #377E88;
    font-weight: 300;
}

.left-menu-main ul > li > h4 > span{
    float: left;
}

.left-menu-main ul > li > h4 > i{
    float: right;
    color: #152840;
    border-radius: 50%;
    background: #4DB5B5;
    padding: 3px 6px;
}

.left-menu-main ul > li a{
    display: block;
    padding: 5px 10px;
    margin: 10px 0;
    color: #fff;
}

.social-block-follow{
    width: 200px;
}

.social-block-links{
    background: #fff;
    padding: 5px 10px;
}

.social-block-links li{
    margin: 5px 0;
}

.social-block-links li a {
    display: block;
    padding: 20px 20px;
    color: #8A9093;
}

.social-block{
    width: 100%;
    padding: 15px;
    position: relative;
    height: 150px;
}

.social-header{
    font-size: 24px;
    color: #fff;
}

.social-footer{
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.social-footer .social-count{
    float: left;
}

.social-footer .social-follow{
    float: right;
}

.block-follow-us{
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    margin: 10px 0;
}

.contact-info{
    padding: 15px 10px;
    height: 345px;

}

.contact-info-item{
    margin: 10px 0;
}

.contact-info-item i{
    display: inline-block;
    padding: 10px;
    border: 1px solid #8A9093;
    margin-right: 10px;
}

.contact-info-item div{
    display: inline-block;

}

.contact-info-item div span{
    display: block;
    font-size: 14px;
}

.block-slider{
    background: #787878;
    position: relative;
}

#slide-left, #slide-right {
    position: absolute;
    top: 45%;
    border: 1px solid #fff;
    padding: 10px;
}

#slide-left{
    left: 0;
}

#slide-right{
    right: 0;
}

.block-slider-content{
    padding: 20px 48px 10px 48px;
}

.block-slider-slide h6{
    font-weight: 100;
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.block-slider-slide p{
    font-size: 14px;
    color: #fff;
}

.learnMore{
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    margin-top: 20px;
}

.pagination{
    margin: 20px 0;
    text-align: center;
}

.pagination > div{
    display: inline-block;
    margin: 0 5px;
}

.pagination > div > span{
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.pagination > div > span.active{
    background: #fff;
}

.block-video-describe{
    background: #fff;
    padding: 20px 20px 20px 40px;
    position: relative;
    width: 300px;
}

.block-video-describe h6{
    font-size: 21px;
}

.block-video-describe p.time{
    color: #8A9093;
    margin: 20px 0;
}

.video-icon{
    position: absolute;
    top: 30px;
    left: 0;
    padding: 10px;
    background: #EA6060;
    color: #fff;
}

.block-choice{
    width: 100px;
    background: #1F3045;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.block-choice > div{
    margin: 20px 0;
}

.block-choice > div i{
    display: block;
}

.block-choice > div span{
    display: block;
}

.video{
    width: 500px;
    background: #475055;
}

.share_likes{
    width: 250px;
    padding: 50px 0;
    text-align: center;
    background: #1F3045;
}

.share_likes > .block_sl{
    display: inline-block;
    color: #fff;
    margin: 0 20px;
}

.share_likes > .block_sl > i, .share_likes > .block_sl > span{
    display: block;
}

.share_likes > .block_sl > i{
    font-size: 32px;
}